QWidget {
    background: #323232;
}
QLabel {
    background: transparent;
    color: white;
    font: 24px
}
QToolButton {
    background: rgba(192, 192, 192, 170);
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(192, 192, 192, 170);
    font: 16px;
    color: black;
    min-width: 64px;
    min-height: 64px;
    max-width: 128px;
    max-height: 128px;
    padding: 12px;
}
QToolButton:pressed {
    background: rgba(0, 64, 128, 170);
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(0, 64, 128, 170);
    font: 16px;
    color: black;
    min-width: 64px;
    min-height: 64px;
    max-width: 128px;
    max-height: 128px;
    padding: 12px;
}
QPushButton {
    background: transparent;
    border: 0px;
}
QTabBar::tab {
    height: 32px;
    width: 128px;
    color: #ffffff;
    margin: 0px;
}
QTabBar::tab:selected {
    background-color: #323232;
    font: 24pt;
    color: #ffffff;
    margin: 0px;
}
QTabBar::tab:!selected {
    background-color: #323232;
    font: 12pt;
    color: #ffffff;
    margin: 0px;
}
